defusedxml==0.4.1
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.6.11
django-extensions==1.7.7
django-mongodb-engine==0.6.0
django-toolbelt==0.0.1
djangotoolbox==1.8.0
gunicorn==19.6.0
Magic-file-extensions==0.2
mongoengine==0.9.0
psycopg2==2.6.2
pyliblzma==0.5.3
pymongo==2.8
pytz==2014.10
six==1.10.0
SOAPpy==0.12.22
sqlparse==0.1.18
static3==0.7.0
virtualenv==15.0.3
wstools==0.4.3
